.navbar{
    padding: 0.5rem 0.7rem !important;
}

.nav-item{
    font-family: 'Sarabun', sans-serif;
}

.navbar-brand{
    font-family: 'Sarabun', sans-serif;
}

.text-center{
    font-family: 'Sarabun', sans-serif;
}